.gradient-background {
  background: linear-gradient(300deg, #00bfff, #99dbf0, #2e61fb);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.mt-12{
  margin-top: 40px;
}
.min-h-screen{
  min-height: 100vh;
}

.mt-20{
  margin-top: 110px;
}

section.bg-image-banner{
  background-image: url('../images/book.jpg');
  background-repeat: no-repeat ;
  background-attachment:unset;
  background-size: 220vh;
  background-position: top bottom;
}
